@using LivrETS.Models
@using LivrETS.Helpers
@model Offer

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var flagImg = true;
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/template/elegant-fonts.css")">

    <style>
        .img-caroussel{
             width: 590px !important;
             height: 590px !important;
        }
    </style>
}

<div class="content">
    <div class="container">
        <h2 class="page-title text-md-center">@Model.Title</h2>
        <p class="page-subtitle text-md-center">
            sub title
        </p>
        <div class="row product-carousel">
            <div class="col-md-6 col-md-push-3 col-sm-12 col-xs-12">
                <div id="product-image-carousel" class="product-image owl-carousel owl-theme carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (OfferImage item in Model.Images)
                        {
                            @HomeHelpers.ImgArticleHelper(item, @Model.Title, flagImg);

                            flagImg = false;
                        }
                    </div><!-- /.carousel-inner -->
                </div><!-- /.product-image-carousel -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-3 col-md-pull-6 col-sm-6 col-xs-6">
                <a class="left carousel-control" href="#product-image-carousel" data-slide="prev">
                    <span data-icon="&#x34;"></span>
                </a>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a class="right carousel-control" href="#product-image-carousel" data-slide="next">
                    <span data-icon="&#x35;"></span>
                </a>
            </div><!-- /.col-md-3 -->
        </div><!-- /.product-carousel -->
        <div class="row product-detail">
            <div class="col-md-6">
                <div class="panel-group" id="product-detail-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#collapseDescription">
                                    Description
                                    <span data-icon="&#x50;" class="expand pull-right"></span>
                                    <span data-icon="&#x4f;" class="contract pull-right"></span>
                                </a>
                            </h3><!-- /.panel-title -->
                        </div><!-- /.panel-heading -->
                        <div id="collapseDescription" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-kybully uppercase">
                                    <li>Cours: @Model.Article.Course.Acronym</li>
                                </ul>
                                <div>
                                    @Model.Article.FairState
                                </div>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-collapse -->
                    </div><!-- /.panel-default -->
                </div><!-- /.panel-group -->
            </div>
            <div class="col-md-6">
                <div class="order-box">
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div>
                                    <h4 class="control-label text-md-center">Price</h4>
                                    <p>$ @Model.Price</p>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-7 -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <h4 class="control-label text-md-center">Terms</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            </div><!-- /.col-md-5 -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="form-group form-actions">
                                    <button class="btn btn-lg btn-add-to-cart btn-primary btn-block">
                                        <span class="fa fa-shopping-basket"></span>
                                        Add to Cart
                                    </button>
                                </div>
                            </div><!-- /.col-md-7 -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="form-group form-actions">
                                    <button class="btn btn-lg btn-wishlist uppercase btn-block">
                                        <span data-icon="&#x50;" class="icon-btn"></span> Wishlist
                                    </button>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-5 -->
                        </div><!-- /.row -->
                </div><!-- /.order box -->
            </div><!-- /.col -->
        </div><!-- /.product detail -->
    </div>
</div>
