@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses
*@

@using LivrETS.Models
@using LivrETS.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<Offer>

@{
    ViewData["Title"] = "Accueil";
}


@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/template/elegant-fonts.css")">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <style>
        .avatar-article{
            width: 262px !important;
            height: 202px !important;
        }

        .related-pets-section{
            display: none;
        }

        #bloc-input-price{
            margin-bottom:10px;
        }

        .sort-link{
            text-transform: uppercase;
            font-variant: small-caps;
            padding-left: 30px;
            color: #999;
            text-decoration: none !important;
        }

        .active-sort{
            background-color: #629c49;
        }

        .active-sort a{
            color: black !important;
        }

        .list-checkbox li{
            padding: 15px 0;
        }

        .list-checkbox li a{
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    </style>
}

<div class="content">
    <div class="container">
        <div class="row">
            <!-- =================================================== CONTENT ======================================================= -->
            <div class="col-md-9 col-md-push-3">
                <div class="featured-product margin-top-40">

                </div><!-- /.featured-product -->
                <section id="category-products">
                    
                    <div class="page-section wow fadeInUp">
                        <div class="tab-content">
                            <div class="tab-pane active" id="grid">
                                <div class="row">
                                    @if(Model.Count == 0)
                                    {
                                        <p>Aucun élément trouvé</p>
                                    }
                                    @foreach (Offer item in Model)
                                    {
                                        <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                            <div class="product-item-grid-view">
                                                <div class="product-item">
                                                    <div class="product-image">
                                                        <a href="/Offer/Details/@item.Id?title=@item.Title">
                                                            <img src="@HomeHelpers.ThbImgArticleHelper(item.Images.FirstOrDefault())"
                                                                 data-echo="@HomeHelpers.ThbImgArticleHelper(item.Images.FirstOrDefault())" 
                                                                 alt="@item.Title"
                                                                 class="center-block img-responsive avatar-article"  title="@item.Title">
                                                        </a>
                                                    </div><!-- /.product-image -->
                                                    <div class="product-detail text-md-center">
                                                        <h3 class="product-name">
                                                            @Html.ActionLink(HomeHelpers.TroncText(item.Title, 20), "Details", "Offer",  
                                                           new { id = item.Id, title = item.Title }, null)
                                                        </h3>
                                                    
                                                        <p class="product-price">
                                                            <span class="price">@item.Price.ToString("00.00") $</span>&nbsp;&nbsp;&nbsp;
                                                            <a href="#" title="favoris" class="hide">
                                                                <span class="fa fa-heart"></span>
                                                            </a>
                                                            <span>@item.Article.LivrETSID</span>
                                                        </p>
                                                    </div><!-- /.product-detail -->
                                                </div><!-- /.product-item -->
                                            </div><!-- /.product-item-grid-view -->
                                        </div><!-- /.product-item-column -->
                                    }

                                </div><!-- /.row -->
                            </div><!-- /.tab-pane -->

                            <div class="tab-pane" id="list">
                                <div class="row">
                                    <div class="product-item-list-view">

                                        @foreach (Offer item in Model)
                                        {
                                            <div class="row product-item">
                                                <div class="col-md-4 col-sm-4">
                                                    <a href="/Offer/Details/@item.Id?title=@item.Title">
                                                        <img src="@HomeHelpers.ThbImgArticleHelper(item.Images.FirstOrDefault())"
                                                             data-echo="@HomeHelpers.ThbImgArticleHelper(item.Images.FirstOrDefault())" 
                                                             alt="@item.Title"
                                                             class="center-block img-responsive avatar-article"  title="@item.Title">
                                                    </a>
                                                </div>
                                                <div class="col-md-8 col-sm-8 text-md-center">
                                                    <div class="product-detail">
                                                        <h3 class="media-heading product-name">
                                                            @Html.ActionLink(HomeHelpers.TroncText(item.Title, 40),
                                                                                "Details", "Offer",
                                                                                new { @id = item.Id, title = item.Title }, null)
                                                        </h3>
                                                        <p>@item.Article.Course.Acronym</p>
                                                        <p class="product-price"><span class="price">@item.Price.ToString("00.00") $</span></p>
                                                        <p class="product-description">@item.Article.FairState</p>
                                                    </div><!-- /.product-detail -->
                                                    <div class="product-actions">
                                                        <div class="btn-group">
                                                            <a href="cart.html" 
                                                               class="btn btn-secondary strong uppercase btn-add-to-cart hide" 
                                                               title="favoris">
                                                                <span class="fa fa-heart"></span>
                                                            </a>
                                                        </div>
                                                    </div><!-- /.product-actions -->
                                                </div><!-- /.col -->
                                            </div><!-- /.product-item -->
                                        }
                                        
                                    </div><!-- /.product-item-grid-view -->
                                </div><!-- /.row-->
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- /.page-section -->
                    <div class="page-section clearfix">
                        <br />
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort,
                            currentFilter = ViewBag.CurrentFilter }))
                    </div><!-- /.page-section-->
                </section><!-- /#category-products -->
            </div><!-- /.col-md-9 -->
            <!-- ========================================= CONTENT : END ========================================= -->
            <!-- ========================================= SIDEBAR ========================================= -->
            <div class="col-md-3 col-md-pull-9">
                <aside class="sidebar row">
                    <div class="sidebar-section col-sm-4 col-xs-4 col-md-12 col-lg-12">
                        <h4 class="sidebar-title">Affichage</h4>
                        <ul class="nav nav-tabs view-switcher" role="tablist" id="myTab">
                            <li class="active">
                                <a href="#grid" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-th"></span>
                                </a>
                            </li>
                            <li><a href="#list" role="tab" data-toggle="tab">
                                <span class="glyphicon glyphicon-th-list"></span></a>
                            </li>
                        </ul><!-- /.nav -->
                    </div><!-- /.sidebar section -->
                    <div class="sidebar-section col-sm-8 col-xs-8 col-md-12 col-lg-12">
                        <h4 class="sidebar-title text-md-center">Trier</h4>
                        <div class="text-md-center">
                            @HomeHelpers.GetSelectorSort(Request.Params["sortOrder"]);
                        </div>
                    </div>
                    <div class="sidebar-section col-md-12 col-lg-12 col-sm-12 col-xs-12">
                         <h4 class="sidebar-title text-mute text-md-center">Filtre</h4>
                            <section class="category">
                                <h4 class="sidebar-title text-md-center">Catégorie</h4>
                                <ul class="list-checkbox list-unstyled text-md-center">
                                    <li id="sort-book">@Html.ActionLink("Livres", "Index", "Home", 
                                                      new { sortOrder = Article.BOOK_CODE }, 
                                                      new { @class = "sort-link" })</li>
                                    <li id="sort-nc">@Html.ActionLink("Notes de cours", "Index", "Home", 
                                                    new { sortOrder = Article.COURSE_NOTES_CODE }, 
                                                    new { @class = "sort-link" })</li>
                                    <li id="sort-calc">@Html.ActionLink("Calculatrice", "Index", "Home", 
                                                      new { sortOrder = Article.CALCULATOR_CODE }, 
                                                      new { @class = "sort-link" })</li>
                                </ul><!-- /.list-checkbox -->
                            </section><!-- /.category -->
                            <section>
                            @using (Html.BeginForm("Index", "Home", FormMethod.Get, 
                                new { @class = "block-search" }))
                            {
                                <h4 class="sidebar-title text-md-center">Prix</h4>
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBox("Pmin", ViewBag.CurrentFilter as string, 
                                       new { @class = "form-control txt-price", placeholder = "de" })
                                    </div>
                                    <div class="col-md-2">-</div>
                                    <div class="col-md-5">
                                        @Html.TextBox("Pmax", ViewBag.CurrentFilter as string, 
                                       new { @class = "form-control txt-price", placeholder = "a" })
                                    </div>
                                </div>
                                
                                <br/>
                                <button type="submit" class="btn btn-success">Trier</button>
                            }
                            </section><!-- /.price -->
                        
                    </div><!-- /.section-section  -->
                </aside><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- ========================================= SIDEBAR : END ========================================= -->
        </div><!-- /.row -->
        <div class="row related-pets-section">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="section-info">
                    <h3 class="section-title text-md-center">Articles vus</h3>
                    <p class="section-subtitle text-md-center">Retrouver des articles que vous avez deja vus.</p>
                    <div class="controls clearfix hidden-xs hidden-sm">
                        <a href="#" data-target="#relate-items-carousel" class="btn btn-primary pull-left owl-prev">
                        <span data-icon="&#x23;"></span></a>
                        <a href="#" data-target="#relate-items-carousel" class="btn btn-primary pull-right owl-next">
                        <span data-icon="&#x24;"></span></a>
                    </div><!-- /.controls -->
                </div><!-- /.section-info -->
            </div><!-- /.col -->
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                        <div class="controls text-right">
                            <a href="#" data-target="#relate-items-carousel" class="btn btn-primary owl-prev">
                            <span data-icon="&#x23;"></span></a>
                        </div><!-- /.controls -->
                    </div><!-- /.col -->
                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                        <div id="relate-items-carousel" class="grid-view home-owl-carousel">

                            @foreach (Offer item in Model)
                            {
                                <div class="product-item-column">
                                    <div class="product-item-grid-view">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="detail.html">
                                                    <a href="/Offer/Details/@item.Id?title=@item.Title" title="@item.Title">
                                                        <img src="@HomeHelpers.ThbImgArticleHelper(item.Images.FirstOrDefault())"
                                                             data-echo="@HomeHelpers.ThbImgArticleHelper(item.Images.FirstOrDefault())" 
                                                             alt="@item.Title"
                                                             class="center-block img-responsive avatar-article" title="@item.Title">
                                                    </a>
                                                </a>
                                            </div><!-- /.product-image -->
                                            <div class="product-detail text-md-center">
                                                <h3 class="product-name">
                                                    @Html.ActionLink(HomeHelpers.TroncText(item.Title, 15), "Details", "Offer", 
                                                                        new { id = item.Id, title = item.Title }, null)
                                                </h3>
                                                <p class="product-price"><span class="price">@item.Price.ToString("00.00") $</span></p>
                                            </div><!-- /.product-detail -->
                                        </div><!-- /.product-item -->
                                    </div><!-- /.product-item-grid-view -->
                                </div><!-- /.product-item-column -->
                            }

                        </div><!-- /#recent-items-carousel -->
                    </div><!-- /.col -->
                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                        <div class="controls text-left">
                            <a href="#" data-target="#relate-items-carousel" class="btn btn-primary owl-next"><span data-icon="&#x24;"></span></a>
                        </div><!-- /.controls -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.content -->

@section Scripts {
    <script type="text/javascript" src="~/Scripts/home.js"></script>
}