@using LivrETS.Models
@using LivrETS.Helpers
@model Offer

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var flagImg = true;
    ApplicationUser user = ViewBag.user;
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/template/elegant-fonts.css")">

    <style>
        .img-caroussel {
            width: 590px !important;
            height: 590px !important;
        }
        #primary-info{
            font-size:2em;
            border: 1px solid #629c49
        }
        #primary-info div{
            padding: 15px 10px;
        }
        #info-price{
            color: white;
            font-weight: bold;
            background-color: #629c49;
        }
    </style>
}

<div class="content">
    <div class="container">
        <h2 class="page-title text-md-center">@Model.Title</h2>
        <div class="row" id="primary-info">
            <div class="col-md-6" id="info-cours">@Model.Article.Course.Acronym</div>
            <div class="col-md-6" id="info-price">@Model.Price.ToString("00.00") $</div> 
        </div>
        <div class="row product-carousel">
            <div class="col-md-6 col-md-push-3 col-sm-12 col-xs-12">
                <div id="product-image-carousel" class="product-image owl-carousel owl-theme carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        @foreach (OfferImage item in Model.Images)
                        {
                            @HomeHelpers.ImgArticleHelper(item, @Model.Title, flagImg);
                            flagImg = false;
                        }

                        @if (flagImg)
                        {
                            @HomeHelpers.ImgArticleHelper(null, @Model.Title, flagImg);
                        }
                    </div><!-- /.carousel-inner -->
                </div><!-- /.product-image-carousel -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-3 col-md-pull-6 col-sm-6 col-xs-6">
                <a class="left carousel-control" href="#product-image-carousel" data-slide="prev">
                    <span data-icon="&#x34;"></span>
                </a>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a class="right carousel-control" href="#product-image-carousel" data-slide="next">
                    <span data-icon="&#x35;"></span>
                </a>
            </div><!-- /.col-md-3 -->
        </div><!-- /.product-carousel -->
        <div class="row product-detail">
            <div class="col-md-6">
                <div class="panel-group" id="product-detail-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#collapseDescription">
                                    Description
                                    <span data-icon="&#x50;" class="expand pull-right"></span>
                                    <span data-icon="&#x4f;" class="contract pull-right"></span>
                                </a>
                            </h3><!-- /.panel-title -->
                        </div><!-- /.panel-heading -->
                        <div id="collapseDescription" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-kybully">
                                    <li>Posté le @Model.StartDate </li>
                                    <li><span class="uppercase">@Model.Article.TypeName</span> </li>
                                </ul>
                                <div>
                                    @Model.Condition
                                </div>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-collapse -->
                    </div><!-- /.panel-default -->
                </div><!-- /.panel-group -->
            </div>
            <div class="col-md-6">
                <div class="order-box">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <h4 class="control-label text-md-center">Informations vendeur</h4>
                                <ul class="list-kybully ">
                                    <li><b class="primary-color uppercase">Nom :</b> @user.FirstName @user.LastName </li>
                                    <li><b class="primary-color uppercase">Email :</b> @user.Email </li>
                                </ul>
                                <h4 class="control-label text-md-center">Price</h4>
                                <p>@Model.Price.ToString("00.00") $</p>
                            </div><!-- /.form-group -->
                        </div><!-- /.col-md-7 -->
                        <div class="col-md-5 col-sm-5 col-xs-12 hide">
                            <h4 class="control-label text-md-center">Terms</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-7 col-sm-7 col-xs-12 hide">
                            <div class="form-group form-actions">
                                <button class="btn btn-lg btn-add-to-cart btn-primary btn-block">
                                    <span class="fa fa-heart"></span>
                                    Add to Favoris
                                </button>
                            </div>
                        </div><!-- /.col-md-7 -->
                        <div class="col-md-5 col-sm-5 col-xs-12 hide">
                            <div class="form-group form-actions">
                                <button class="btn btn-lg btn-wishlist uppercase btn-block">
                                    <span data-icon="&#x50;" class="icon-btn"></span> Wishlist
                                </button>
                            </div><!-- /.form-group -->
                        </div><!-- /.col-md-5 -->
                    </div><!-- /.row -->
                </div><!-- /.order box -->
            </div><!-- /.col -->
        </div><!-- /.product detail -->
    </div>
</div>
