@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @RenderSection("styles", required: false)

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <style>
        h1{ margin-bottom: 50px; }

        #menu-general-admin{
            margin-bottom: 50px;
        }
        #menu-general-admin ul li{
            padding: 5px;
            padding-right:10px;
        }
        #menu-general-admin ul li:not(:last-child){
            border-right: 1px solid gray;
        }
        #menu-general-admin ul li a{
            color: black;
        }
        #menu-general-admin ul li a:hover{
            color: green;
        }

        thead > tr > th {
            padding: 5px;
        }
        #group-btn-action{
            margin-bottom: 30px;
            padding-right: 16px;
        }
    </style>
}

<div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="row">
            <div class="text-center">
                <h1>Administration</h1>

                <div id="menu-general-admin">
                    <ul class="list-inline">
                        <li>@Html.ActionLink("Gérer les utilisateurs", "ManageUsers", "Admin", new { role = "button" })</li>
                        <li>@Html.ActionLink("Gérer les foires", "ManageFairs", "Admin", new { role = "button" })</li>
                    </ul>
                </div>
                
            </div>
            <div class="row" id="group-btn-action">
                @RenderSection("actions", required: false)
            </div>
        </div>

        <div class="row">
            
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
}