@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*@
@using LivrETS.ViewModels
@using LivrETS.Models
@model FairViewModel
@{
    ViewBag.Title = "Cueillette";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var progress = Model.CurrentStep / Model.NumberOfPhases * 100f;
    string inputValue = Model.CurrentStep == 2 ? "Terminer" : "Suivant >";
}
@section Styles {
    <style>
        div.group-error {
            margin: 10% 0;
            min-height: 200px;
        }

        div.group-error h1 {
            font-size: 70px;
        }
    </style>
}
<div class="content">
    <div class="container">
        @if (Model.Fair == null || Model.Fair.Phase != FairPhase.PICKING)
        {
            <div class="row">
                <div class="group-error text-center">
                    <div class="col-md-12">
                        <h1 class="primary-color">Désolé!</h1>
                    </div>
                    <div class="col-md-12">
                        <h2>
                            Vous n'&ecirc;tes pas pr&eacute;sentement en
                            p&eacute;riode de <span class="primary-color">cueillette</span>  =(
                        </h2>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="page-header">
                <h1>Cueillir des articles <small>Pour la Foire @Model.Fair.LivrETSID</small></h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100" style="width: @progress%; min-width: 2em;">
                            @progress%
                        </div>
                    </div>
                </div>
            </div>

            using (Html.BeginForm("Pick", "Fair", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @switch ((int)(Model.CurrentStep))
                    {
                        case 0:
                            <h3>Num&eacute;risez ou entrez manuellement<br />le code &agrave; barres de la<br />carte &eacute;tudiante du vendeur.</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.UserBarCode, new { @class = "form-control", placeholder = "Ex: FF000000", autofocus = "autofocus" })
                                </div>
                                <div class="col-md-12">
                                    @Html.ValidationMessageFor(model => model.UserBarCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            break;

                        case 1:
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="article-code-input" placeholder="Code à barres ou ISBN de l'article" autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Articles parle le vendeur</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="table-responsive">
                                        <table id="notpicked-table" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Type</th>
                                                    <th>Titre</th>
                                                    <th>ISBN ou Code ou Mod&egrave;le</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var offer in Model.FairOffers.Intersect(Model.UserOffers))
                                                {
                                                    <tr>
                                                        <td>@offer.Article.LivrETSID</td>
                                                        <td>@offer.Article.TypeName</td>
                                                        <td>@offer.Article.Title</td>
                                                        <td>
                                                            @switch (offer.Article.ArticleCode)
                                                            {
                                                                case Article.BOOK_CODE:
                                                                    @((offer.Article as Book).ISBN)
                                                                    break;
                                                                case Article.CALCULATOR_CODE:
                                                                    @((offer.Article as Calculator).Model.ToString())
                                                                    break;
                                                                case Article.COURSE_NOTES_CODE:
                                                                    @((offer.Article as CourseNotes).BarCode)
                                                                    break;
                                                            }
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-success pick-article-btn" data-article-id="@offer.Article.Id" type="button">Cueillir</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />

                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Articles re&ccedil;us pour la Foire</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="table-responsive">
                                        <table id="picked-articles-table" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Type</th>
                                                    <th>Titre</th>
                                                    <th>ISBN ou Code ou Mod&egrave;le</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            break;

                        case 2:
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Nombre d'&eacute;tiquettes restantes sur la feuille</span>
                                    <input type="number" class="form-control" style="width: 70px; display: inline;" />
                                    <button id="btn-preview" type="button" class="btn btn-default">Pr&eacute;visualiser</button>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
                                <div class="col-md-6" style="min-height: 500px; border: 1px black solid; border-radius: 2px;">
                                    <embed id="embed-preview" src="" style="width: 100%; height: 500px;" />
                                </div>
                            </div>
                            break;
                    }
                </div>

                <div class="row">
                    <div class="@(Model.CurrentStep == 1 ? "col-md-8" : "col-md-6")">
                        <input type="submit" class="btn btn-primary pull-right" value="@inputValue" />
                        @if (Model.CurrentStep == 2)
                        {
                            <button type="button" id="btn-print" class="btn btn-default pull-right" style="margin-right: 5px;" disabled>Imprimer</button>
                        }
                    </div>
                </div>

        <!-- MODALS -->
                <div id="pick-confirm-dialog" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>
                                    V&eacute;rifiez que vous avez bien pris physiquement l'article avant de
                                    le marquer comme cueillis.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button id="btn-confirm-pick" type="button" class="btn btn-primary">Cueillir</button>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- END MODALS -->
            }

            @section Scripts {
                <script src="~/Scripts/pick.js"></script>
            }
        }
    </div>
</div>