@model LivrETS.Models.Fair

@{
    ViewBag.Title = "Horaire de la foire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        table{
            width: 100%;
        }
        th{
            background-color: #4CAF50;
            color: white;
        }
        tr th{
            font-size: 1.3em;
        }
        td, th{
            padding: 10px;
        }
        tr:nth-child(even) {background-color: #f2f2f2}
        table, th, td{
            border: 1px solid black;
        }
        #group-table{
            min-height:300px;
        }
    </style>
}


<div class="content">
    <div class="container">
    @if (Model != null)
    {
        <div class="page-header">
            <h1>Horaire <small>Foire @Model.TrimesterToString()</small></h1>
        </div>

        <div class="row" id="group-table">
            <table id="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Activité</th>
                        <th>Emplacement</th>
                    </tr>
                </thead>
                @foreach (var fs in Model.FairSteps)
                {
                    <tr>
                        <td>@fs.StartDateTime.ToString("dd MMMM")</td>
                        <td>
                            @fs.StartDateTime.ToString("hh:mm") -
                            @fs.EndDateTime.ToString("hh:mm")
                        </td>
                        <td>@fs.TypeNamePhase</td>
                        <td>@fs.Place</td>
                    </tr>
                }
            </table>
        </div>
    }else
    {
        <div style="height:400px; padding:10% 0;" class="text-center" >
            <h1 style="font-size:5em;"><span class="primary-color">Désolé !</span></h1>
            <h2>Aucune foire n'est prévue</h2>
        </div>

    }
    </div>

</div>