@model LivrETS.Models.Fair

@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        table{
            width: 100%;
        }
    </style>
}
<div class="content">
    <div class="container">

        <div class="page-header">
            <h1>Programme <small>Foire @Model.ToString()</small></h1>
        </div>


        <table id="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Activité</th>
                    <th>Emplacement</th>
                </tr>
            </thead>
            @foreach (var fs in Model.FairSteps)
            {
                <tr>
                    <td>@fs.StartDateTime.ToString("dd MMMM")</td>
                    <td>
                        @fs.StartDateTime.ToString("hh:mm:ss") - 
                        @fs.EndDateTime.ToString("hh:mm:ss")
                    </td>
                    <td>@fs.TypeNamePhase</td>
                    <td>@fs.TypeNamePlace</td>
                </tr>
            }
        </table>
    </div>

</div>