@*
    LivrETS - Centralized system that manages selling of pre-owned ETS goods.
    Copyright (C) 2016  TribuTerre

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*@
@using LivrETS.Models
@using LivrETS.Helpers
@model Fair
@{
    ViewBag.Title = "Modifier la foire";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style>
        h1 {
            margin-bottom: 50px;
        }

        #btn-add-activity {
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .add-activity div:first-child {
            padding-top: 26px;
        }
    </style>
}
<div id="page-wrapper">
    <div class="container">

        <div class="row">
            <div class="alert alert-success hide" id="group-alert-mess" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span id="alert-mess"></span>
            </div>
            @using (Html.BeginForm("CreateFair", "Admin", FormMethod.Post, new { @class = "form" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Session</label>
                            @FairHelper.GetSelectTrimesterFairStep(Model.Trimester)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date de début :</label>
                            <div class="input-group date">
                                <input id="start_date" type="text" class="form-control input-sm" 
                                       value="@Model.StartDate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date de fin :</label>
                            <div class="input-group date">
                                <input id="end_date" type="text" class="form-control input-sm"
                                       value="@Model.EndDate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Ajouter des activités</h2>
                    <div class="row" id="grp-activity">
                        @{
                            foreach (var fs in Model.FairSteps)
                            {
                                <div class="add-activity row" data-id="@fs.Id">
                                    <div class="col-md-1 text-center">
                                        <a class="btn btn-danger btn-sm btn-del-activity" data-id="@fs.Id" 
                                           data-toggle="tooltip" data-placement="top" title="suppression definitive">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Date de début :</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control input-sm activity_start_date"
                                                   value="@fs.StartDateTime">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Date de fin :</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control input-sm activity_end_date"
                                                   value="@fs.EndDateTime">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Activité :</label>
                                        @FairHelper.GetSelectPhaseFairStep(fs.Phase)
                                    </div>
                                    <div class="col-md-3">
                                        <label>Emplacement :</label>
                                        <input class="form-control input-sm activity_place" type="text" 
                                                value="@fs.Place"/>
                                    </div>
                                </div>

                            }
                        }

                        <div id="add-activity" class="row hide">
                            <div class="col-md-1 text-center">
                                <a class="btn btn-danger btn-sm btn-del-activity">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <label>Date de début :</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control input-sm activity_start_date">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Date de fin :</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control input-sm activity_end_date">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Activité :</label>
                                <select class="form-control input-sm activity_activity">
                                    <option value="P">Ceuillete</option>
                                    <option value="S">Vente</option>
                                    <option value="R">Récuperation</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Emplacement :</label>
                                <input class="form-control input-sm activity_place" type="text" />
                            </div>
                        </div>
                    </div>
                    
 
                    <a href="#" class="btn btn-success" id="btn-add-activity">
                        <i class="fa fa-plus"></i> Ajouter une étape
                    </a>
                </div>
                <div class="row">

                    <a href="#" id="btn-submit" class="btn btn-success" data-id="@Model.Id" data-work="0">
                        <i class="fa fa-spinner fa-pulse fa-fw hide"></i>
                        <span class="sr-only">Loading...</span>
                        Modifier
                    </a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-fr-ca.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/fair/EditFair.js"></script>
}
