@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Connectez-vous";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    @if (ViewData["error"] != null && ViewData["error"].ToString() == "InvalidDomain")
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
            <strong>Oups!</strong> Vous devez vous connecter avec votre compte <strong>etsmtl.net</strong>.
        </div>
    }
    <div class="col-md-4">
        <section>
            <h4>Utilisez l'un des services ci-dessous.</h4>
            <hr />
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    @if (@provider.AuthenticationScheme == "Google")
                                    {
                                        <button id="google-btn" type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Connectez vous avec votre compte @provider.DisplayName">@provider.AuthenticationScheme</button>
                                    } else {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Connectez vous avec votre compte @provider.DisplayName">@provider.AuthenticationScheme</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
