@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = null;
    ViewData["Title"] = "Connectez-vous";
}

<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        <div class="container body-content">
            @if (ViewData["error"] != null && ViewData["error"].ToString() == "InvalidDomain")
            {
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                    <strong>Oups!</strong> Vous devez vous connecter avec votre compte <strong>etsmtl.net</strong>.
                </div>
            }
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h1 class="text-center login-title">Connectez-vous pour continuer sur Livr&Eacute;TS</h1>
                    <div class="account-wall">
                        <p class="title-text" style="font-size: 24px;">
                            LivrETS<strong style="font-size: 18px;">&#64;etsmtl.net</strong>
                        </p>
                        @{
                            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                            if (loginProviders.Count > 0)
                            {
                                
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-signin" role="form">
                                    @foreach (var provider in loginProviders)
                                    {
                                        if (@provider.AuthenticationScheme == "Google")
                                        {
                                            <button id="google-btn" name="provider" value="@provider.AuthenticationScheme" class="btn btn-lg btn-block login-btn" type="submit">
                                                Connectez-vous avec Google
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-lg btn-block login-btn" name="provider" value="@provider.AuthenticationScheme" type="submit">
                                                @provider.AuthenticationScheme
                                            </button>
                                        }
                                    }
                                </form>
                            }
                        }
                    </div>
                    <p class="text-center copyright-login">&copy; TribuTerre @DateTime.Now.Year</p>
                </div>
            </div>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    </body>
</html>
